body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
  
  
}
.wholepage{
    margin: auto;
    padding: 50px;
    background-color: #fff;
    height: 84vh;
    width: 93vw;
    
}
.wholepage h1 
{   
   justify-content: center;
   text-align: center;
   margin: 0 auto;
   font-size: 2.5rem;
}

.subtext{
    font-size: 1rem;
  color: #666;
  margin-bottom: 50px;
  justify-content: center; 
  text-align: center;
}

.highlight{
    color: #6a0dad;
}
.container{
  display: flex;
  flex-wrap: wrap; /* optional: wraps on small screens */
  gap:10px;
  
    min-height: 300px;
    justify-content: center;
    
}
.card{
    width: 250px;
    height: 200px;
    background-color: white;
    padding: 30px 20px 60px;
    position:relative;
    display: flex;
    background-color: white;
  box-shadow: 0 4px 16px rgba(0, 0, 0, 0.1);
    
    
}
.card img{
  height:52px;
  width:48px;
  margin-left: -8px;
  margin-top: -23px;
  justify-content: center;
  margin: -10px auto;
  
}
.card h2{
  font-size: 1.25rem;
  font-weight: bold;
  margin: 10px 0 15px;
  min-height: 48px; 
}
.card p{
  position: absolute;
  color: #555;
  bottom: 10px;
  text-align:left;
  margin-right: 31px;
  font-size: large;
}
.text h2{
  justify-content:center;
  margin: 10px 50px;
  font-size:x-large;
  font-weight: 700;
}
.card:hover{
  transform: translateY(-30px);
  transition: transform 0.3s ease;
}
@media (max-width: 600px) {
  .wholepage {
    padding: 20px;
    width: 100vw;
    height: auto;
  }

  .card {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .card h2 {
    font-size: 1rem;
    justify-content: center;
    text-align: center;
  }

  .card p {
    font-size: 0.8rem;
    
    /*margin-right: 10px;*/
  }

  .container {
    flex-direction: column;
    align-items: center;
  }
}