*{
    
    margin: 0;
    padding: 0;
}
header{
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1;
    background-color: rgb(31, 91, 32);
}
#navbar{
    display:flex;
    justify-content: space-between;
    position: sticky;
    align-items: center;
    height: 90px;
    padding: 10px;
    padding-left: 30px;
    padding-right: 30px;
}
#menu{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    gap: 25px;

}

#bar{
    display: none;
}
#menu li a{
    color:aliceblue;
    text-decoration: none;

    font-size:1.4rem;
     
    position: sticky;

    
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-box {
    display: none;
    position: absolute;
    background-color: rgb(31, 91, 32);
    min-width: 160px;
    color: black;
    margin-top: 10px;
    box-shadow: 0px 8px 16px rgba(0,0,0,0.2);
    padding: 10px;
    z-index: 1;
    border-radius: 5px;
}
.dropdown:hover .dropdown-box {
    display: block;
}
.dropdown-box a {
    color: black;
    background-color: rgb(254, 170, 14);
    padding: 5px 10px;
    text-decoration: none;
    display: block;
}
.dropdown-box a:hover {
    background-color: black;
}
#w-btn{
    font-size: 15px;
    margin-left: 40px;
    background: white;
    color: black;
    padding: 9px 30px;
    border-radius: 20px;
    position: sticky;
    background-color: rgb(241, 236, 236);  
}
#w-btn:hover{
    background-color: rgb(234, 102, 122);
    position: sticky;
}

@media(max-width: 699px){
    header{
        position: fixed;
        width: 100%;
        top: 0px;
        z-index: 1;
        background-color: rgb(31, 91, 32);
    }
    #navbar{
        display:flex;
        justify-content: space-between;
        position: sticky;
        align-items: center;
        height: 90px;
        padding: 10px;
        padding-left: 20px;
    }
    
    #menu{
        
        display: block;
        width: 280px;
        height: auto;
        background-color: #fff;
        position: absolute;
        top: 80px;
        right: -100%;
        padding: 30px 0;
        box-shadow: 0px 2px 10px rgb(0,0,0,0.2) ;
        border-radius: 13px;
        opacity: 0;
        transition: all 0.3s ease;
       
    }
    #bar{
        display: block;
        color: white;
        font-size: 1.7rem;
        cursor: pointer;
    }
    #menu.active{
        right: 10px;
        opacity: 1;
    }
    
    #menu li{
        padding: 1rem;
    }
    #menu li a{
        color:rgb(28, 84, 29);
    }
    
    #w-btn{
        font-size: 15px;
        margin-left: 15px;
        background: white;
        color: black;
        padding: 9px 30px;
        border-radius: 20px;
        position: sticky;
        background-color: rgb(241, 236, 236);  
    }
    .i1{
        display: none;
    }
}


body{
    background-color: rgb(31, 91, 32);
}

.i1{
    margin-top: 140px;
    object-fit: cover;
    margin-left:auto;
    margin-right: 100px;
}
.f1{
    display: flex;
}

form{
    margin-top: 135px;
    font-size: 20px;
    color:white;
    margin-right: auto;
    margin-left: 20px;
}
input{
    width: 300px;
    padding: 7px;
    background-color: white;
}
button{
    padding: 10px;
    font-size: 15px;
    color: white;
    background-color: rgba(153, 205, 50, 0.418);
}
    

/*
footer{
    background-color: rgb(28, 84, 29);
    color: antiquewhite;
padding: 10px;

}
.company:hover{

background-color: rgb(234, 102, 122);
}
.hero{
    background-color: rgb(31, 91, 32);
}
.hero-box{
   display: flex;
   justify-content: space-between;
   height: 100vh;
   align-items: center;
   margin-left: 67px;
}
div .h1{
    position: relative;
    transform: transform 3s;
    animation-name: text;
}
@keyframes text{
    0%{
        transform: padding-left 10px;
        
        opacity: 0;
    }
    100%{
        transform: padding-left 50px;
        left: 0;
        opacity: 1;
    }
}
.h-left{
    width: 30%;
    color: white;
}
.h-left h1 {
    position: relative;
    animation: slideDown 5s ease-out forwards;
}
.h-left p{
    position: relative;
    animation: slider 6s ease-out forwards;
}
div .search{
    position: relative;
    animation: btn 5s ease-out forwards;
}
@keyframes slideDown {
    0% {
        left: -50px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
@keyframes btn {
    0% {
        left: -50px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
@keyframes slider {
    0% {
        left: -50px;
        opacity: 0;
    }
    100% {
        left: 0;
        opacity: 1;
    }
}
.h-right{
    position: relative;
    animation: img 5s ease-out forwards;
}
@keyframes img {
    0% {
        right: -50px;
        opacity: 0;
    }
    100% {
        right: 0;
        opacity: 1;
    }
}

.h-left p{
    padding: 1.5rem 0;
}

 #g-btn{
    
    text-decoration: none;
    background-color: rgb(31, 91, 32);
    color: white;
    padding: 5px 26px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
 }
.search input{
    width: 100%;
    height: 3rem;
    border-radius: 35px;
    padding: 0 20px;
    font-size: 1.4rem;
    outline: none;
    border: none;
}
.search a{
    position: absolute;
    top: 10px;
    right: -20px;
}

.h-right{
    width: 40%;

}
.h-right img{
    width: auto;
    object-fit: cover;
    border-radius: 30px;
}
@media (max-width: 699px){
    .hero-box {
        flex-direction: column-reverse;
        justify-content: center;
        height: auto;
        align-items: start;
        padding: 8rem 0;
    } 
    .h-left {
        width: 50%;
        
    }
    .h-right {
        display:flex;
    }
    .search input {
        
        height: 3rem;
        border-radius: 35px;
        padding: 0 20px;
        font-size: 1rem;
        outline: none;
        border: none;
    }
    .search a {
        position: absolute;
        top: 10px;
        
    }
    #g-btn {
        text-decoration: none;
        background-color: blueviolet;
        color: white;
        padding: 5px 26px;
        border-radius: 20px;
        cursor: pointer;
    }
    .h-left h1 {
        position: relative;
        color: white;
        text-shadow: 2px 3px black;
        animation: slideDown 5s ease-out forwards;
    }
    .h-left p{
        position: relative;
        animation: slider 6s ease-out forwards;
    }
    div .search{
        position: relative;
        animation: btn 5s ease-out forwards;
    }
    @keyframes slideDown {
        0% {
            top: -50px;
            opacity: 0;
        }
        100% {
            top: 0;
            opacity: 1;
        }
    }
    @keyframes btn {
        0% {
            top: -50px;
            opacity: 0;
        }
        100% {
            top: 0;
            opacity: 1;
        }
    }
    @keyframes slider {
        0% {
            top: -50px;
            opacity: 0;
        }
        100% {
            top: 0;
            opacity: 1;
        }
    }
    .h-right{
        position: relative;
        animation: img 5s ease-out forwards;
    }
    @keyframes img {
        0% {
            top: -50px;
            opacity: 0;
        }
        100% {
            top: 0;
            opacity: 1;
        }
    }
    
    
}


li:hover{
    height: 30px;
    padding: 5px;
    background-color: rgba(255, 0, 0, 0.486);
    border-radius:10px ;
    box-shadow:2px 2px 2px 2px rgba(0, 0, 0, 0.285) ;
}
body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

  background: #fff;
  color: #333;
  
  
}
.wholepage{
    margin: auto;
    padding: 50px;
    background-color: #fff;
    height: 84vh;
    width: 93vw;
   background-color: rgb(31, 91, 32);
   border: 2px solid white;
   


    
}
.wholepage h1 
{   
   justify-content: center;
   text-align: center;
   margin: 0 auto;
   font-size: 2.5rem;
   color: red;
   text-shadow: 3px 3px black;
   background-color: rgb(31, 91, 32);
}

.subtext{
    font-size: 1.3rem;
   color: rgb(254, 170, 14);
   text-shadow: 2px 2px black;

   
  margin-bottom: 50px;
  justify-content: center; 
  text-align: center;
}

.highlight{
    color: white;
}
.container{
  display: flex;
  flex-wrap: wrap; 
  gap:10px;
  color: white;
    min-height: 300px;
    justify-content: center;

    background-color: rgb(31, 91, 32);
    
}
.card{
    width: 250px;
    height: 200px;
    border: 2px solid white;
   
    padding: 30px 20px 60px;
    position:relative;
    display: flex;
    background-color:rgb(31, 91, 32);
  box-shadow: 0 41px 40px rgba(0, 0, 0, 0.1);
    
    
}
.card img{
  height:52px;
  width:48px;
  margin-left: -8px;
  margin-top: -23px;
  justify-content: center;
  margin: -10px auto;
  
}
.card h2{
  font-size: 1.25rem;
  font-weight: bold;
  margin: 10px 0 15px;
  min-height: 48px; 
}
.card p{
  position: absolute;
  color: white;
  bottom: 10px;
  text-align:left;
  margin-right: 31px;
  font-size: large;
}
.text h2{
  justify-content:center;
  margin: 10px 50px;
  font-size:x-large;
  font-weight: 700;
}
.card:hover{
  transform: translateY(-30px);
  transition: transform 0.3s ease;
}
@media (max-width: 699px) {
  .wholepage {
    padding: 20px;
    width: 100vw;
    height: auto;
  }

  .card {
    width: 100%;
    height: auto;
    padding: 20px;
  }

  .card h2 {
    font-size: 1rem;
    justify-content: center;
    text-align: center;
  }

  .card p {
    font-size: 0.8rem;
    

  }

  .container {
    flex-direction: column;
    align-items: center;
  }
}*/

